<mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <mat-select   [(ngModel)]="toppings" multiple>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>


<ng-select [items]="items"
bindLabel="name"
placeholder="Select item"
appendTo="body"
[selectableGroup]="true"
[selectableGroupAsModel]="false"
[closeOnSelect]="false"
[multiple]="true"
[(ngModel)]="selected">
<ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
</ng-template>
</ng-select>


<ng-multiselect-dropdown 
  name="city" 
  [data]="cities" 
  [(ngModel)]="selectedItem" 
  [settings]="dropdownSettings" 
  (onSelect)="onItemSelect($event)"        
  [disabled]="disabled">
</ng-multiselect-dropdown> 


<form class="example-form"  [formGroup]="registerForm">
  <mat-form-field appearance="fill" class="example-full-width">
    <input #inputField type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>




